body{
    
        background-image: url(https://gas-kvas.com/uploads/posts/2023-03/1678091438_gas-kvas-com-p-krasivie-tsveta-dlya-fona-risunka-1.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      
}
img {
    width: 280px;
    border-radius: 52px;
}
img:hover{
    border: 3px solid grey;
}
article {
    background-color: wheat;
    width: 280px;
    border: 3px solid turquoise;
    border-radius: 62px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 20px
}
p{
    font-size: 24px;
    color: black;
    text-align: center;
}
a {
    font-size: 30px;
    text-align: center;
}
